{% extends 'GameBundle::layout.html.twig' %}

{% block content %}    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="container-fluid text-center">
                {% if ganador!=null and ganador>0 %}
                    <h1>¡Ha ganado el jugador {{ ganador }}!</h1>
                {% elseif cantidad_movimientos>=9 %}
                    <h1>¡Empate!</h1>
                {% else %}
                    {% for posicionF,fila in tablero %}
                        <div class="row">
                            {% for posicionC,columna in fila %}
                                <div
                                    onclick="jugar('{{ posicionF }}-{{ posicionC }}');" 
                                    class="col-xs-4 celda text-center">
                                    {% if columna!=null %}
                                        {% if columna==1 %}
                                            <span 
                                                class="glyphicon glyphicon-ok-circle icono verde" 
                                                aria-hidden="true">
                                            </span>   
                                        {% elseif columna==2 %}
                                            <span 
                                                class="glyphicon glyphicon-remove-circle icono rojo" 
                                                aria-hidden="true">
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>            
        </div>
        <div class="clearfix"></div>
        <div class="container distancia">
            <input type="hidden" name="jugador" id="jugador" value="{{ultimo_en_jugar}}">
            <a 
                href="{{ path('game_homepage') }}reiniciar-juego" 
                class="btn btn-success pull-right">
                    Iniciar
            </a>
        </div>
    </div>
    
{% endblock %}